/* MAIN */

main {
    height: 400vh;
    background-image: url(../IMG/fondo-publicacion-producto.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.contenedor-principal{
    background-image: url(../IMG/fondo-publicacion-producto.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
}

.black-background{
    background: linear-gradient(to right, var(--oscuro), transparent);
    width: 100%;
    height: 400vh;

    display: flex;
    justify-content: center;
}

.contenedor-general {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 90%;
    height: 460px; /*450px + 10px del margin-top del contenedor de botones del Carrusel*/

    padding: 5px 0px; /*5px 15px*/
    margin-top: 100px;
    margin-bottom: 50px;

    /* background-color: white; */
    border-radius: 15px;

    box-sizing: border-box;
    /* border: 1px solid green; */
    
}

/* VISTA PREVIA DE LA PUBLICACION */
.contenedor-producto-venta {
    display: flex;

    height: 425px; /* ORIGINALMENTE ES 425px*/
    width: 100%;

    /* background-color: green; */
    box-sizing: border-box;

    gap: 10px;
    
}

/* LADO IZQUIERDO */

.lado-izquierdo{
    display: flex;
    flex-direction: column;
    height: 100%; /* ORIGINALMENTE ES 100%*/
    width: 50%;
}

.img-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%; /* ORIGINALMENTE ES 100%*/
    width: 100%;

    /* background-color: red; */
    box-sizing: border-box;

    background-color: var(--espuma);
    border-radius: 15px;
}

.button-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}
.img-subir {
    display: flex;
    width: 500px;
    border-radius: 20px;
}

/* LADO DERECHO */
.lado-derecho {
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    height: 100%;
    width: 50%;
    box-sizing: border-box;

    background-color: var(--espuma);
    border-radius: 15px;
}

.lado-derecho fieldset{
    border: 2px solid var(--crema);
    border-radius: 10px;
    margin-top: 20px;;
}

.titulo-producto {
    display: flex;
    font-size: 30px;

    color: var(--oscuro);
    margin: 0 5px;

}

.contenedor-estrellas {
    display: flex;
}
.button-estrella {
    display: flex;

    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.img-estrella {
    width: 30px;
    height: 30px;
}

.precios {
    display: flex;
    align-items:baseline;

    gap: 5px;
    margin-top: 10px;

}
.input-precio {
    display: flex;

    font-size: 20px;

    height: 100%;
    box-sizing: border-box;

    background-color: var(--espuma);
}


.button-comprar, .button-carrito {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;

    height: 40px;
    width: 50%;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;

    background-color: var(--espresso);
    color: var(--espuma);
}

#button-comprar {
    margin-top: 20px;
}

#button-carrito {
    margin-top: 10px;
    background-color: var(--tostado);
}

/* CARRUSEL INFERIOR */
.carrusel-inferior {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50px;

    margin-top: 10px;

    box-sizing: border-box;

    background-color: var(--leche);
    border-radius: 15px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;

    background-color: var(--espuma);
    height: 100%;
    width: 50px;

    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}


/* SECCION DESCRIPCION */
.seccion-descripcion {
    display: flex;
    
    width: 100%;
    padding: 5px 15px;
    margin-top: 70px;

    background-color: var(--leche);
    box-sizing: border-box;
    border-radius: 15px;
}
.img-principal {
    display: flex;

    margin-left: 10px;
    width: 350px;
    box-sizing: border-box;
}
.descripcion-seccion-descripcion {
    display: flex;
    flex-direction: column;

    margin-left: 40px;
    padding: 5px 15px;
    background-color: var(--espuma);
    box-sizing: border-box;

    border-radius: 15px;
}

.texto-seccion-descripcion {
    font-size: 18px;
}

/* SECCION COMENTAR */
.seccion-comentar {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    padding: 0px 15px;

    margin-top: 50px;

    background-color: var(--leche);
    box-sizing: border-box;
    border-radius: 15px;
}


.contenedor-comentar {
    display: flex;
    flex-direction: column;

    padding-bottom: 5px;
}
.h2-comentar {
    display: flex;

    margin-top: 10px;
}
.textarea {
    display: flex;
    
    font-size: 15px;
    padding-left: 10px;
    margin-top: 5px;

    width: 70%;
    height: 150px;

    background-color: var(--espuma);
}

.opciones-escritura {
    display: flex;

    gap: 5px;
    padding: 5px 5px;
    margin-top: 10px;
}
.opcion {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border: none;
    background: none;

    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;

    border: 1px solid var(--oscuro);
    background-color: var(--espuma);
}

#N {
    font-weight: bold;
}
#K {
    font-style: italic;
}
#U {
    text-decoration: underline;
}

.button-publicar {
    display: flex;
    justify-content: center;

    border: none;
    background: none;

    width: 14%;

    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;

    border-radius: 3px;

    background-color: var(--tostado);
    color: var(--espuma);
    margin-bottom: 30px;
}


/* SECCION COMENTARIOS */
.seccion-comentarios {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;

    background-color: var(--leche);

    padding: 0px 30px;

    border-radius: 15px;
}

.h2-comentarios {
    display: flex;
    margin-top: 200px;
}
.comentario {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 10px 0;

    background-color: var(--espuma);
}
.comentario-img {
    height: 50px;
    padding: 5px 5px;

    border-radius: 50%;
}