.contenedor-principal{
    background-image: url(../IMG/fondo3-registrarse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width:100%;
    background-attachment: fixed;
}

.black-background{
    width:100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #341100aa;
}

.contenedor {
    background: linear-gradient(transparent , #341100aa); 
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px #fff7e822; 
    width: auto;
    color: var(--espuma);
    display:flex;
    border: 1.5px solid #341100bb;
    backdrop-filter: blur(5px);
    flex-direction: column;
    padding: 30px 100px;
} 

.titulo, .subtitulo{
    margin-bottom: 10px;
    letter-spacing:1px;
}

.titulo-2 {
    text-align: center;
    color: var(--espuma);
}

.subtitulo{
    color: #fff7e8cc;
    font-size: 15px;
}

.enviar {
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: var(--espuma);
    font-weight: bold;
    border-radius: 7px;
    border:none;
    background-color: var(--oscuro);
    box-shadow:2px 1px 7px 3px #4f351c66;
    margin-top: 15px;
    transition: background-color 0.2s ease;
}

.enviar:hover{
    background-color: var(--espresso);
    cursor: pointer;
}

.contenedor-button{
    width:100%;
    display:flex;
    justify-content: center;
}

.form{
    width: 100%;
}

.dos-inputs{
    display:flex;
    gap: 20px;
    width: 100%;
}

.input, .input input{
    width: 100%;
}

.input input{
    height: 27px;
    margin-bottom:15px;
    border-radius:5px;
    border: none;
    margin-top: 7px;
    background-color: var(--espuma);
    color: var(--oscuro);
}

/* Elección de tipo de cuenta*/

.caja-2 {
    /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-bottom: 22px;
    margin-top: 12px;
    /* padding: 20px; */
}

.opcion-1 {
    background-color: var(--espuma);
    height: 190px;
    width: 190px;
    background-image: url(../IMG/comprador-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow:2px 1px 7px 3px #4f351c66;
    transition: background-color 0.4s ease;
}

.opcion-2 {
    background-color: var(--espuma);
    height: 190px;
    width: 190px;
    background-image: url(../IMG/vendedor.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow:2px 1px 7px 3px #4f351c66;
    transition: background-color 0.4s ease;
}

.opcion-1:hover {
    background-color: var(--leche);
    cursor: pointer;
}

.opcion-2:hover {
    background-color: var(--leche);
    cursor: pointer;
}

.opcion-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion-titulo {
    margin-bottom: 10px;
    color: white;
    font-size: 22px;
}











